**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/.editorconfig
**/.dockerignore
**/bin
**/obj
**/logs
**/*.md
**/*.http
**/*.user
**/*.suo
**/TestResults
**/coverage*
docker-compose*.yml
Dockerfile
dotnet-tools.json
tests/
